.env
*.env
*.key
*.pem
*.pub
id_rsa*
id_ed25519*
known_hosts
*.bak
*.bak-*
*.tgz
*.tar.gz
*.zip
*.7z
*.rar
*.log
*.db
*.sqlite
*.sqlite3
*.plain
*credentials*
config.yaml

pg_data/
newapi_data/
open-webui_data/
caddy_data/
caddy_config/
caddy_logs/
backup/
xui/db/
xui/cert/

__pycache__/
.DS_Store
Thumbs.db
